body {
  background: #97DEDD;
  width: 100%;
  box-sizing: border-box; }
  body h3 {
    font-family: fantasy;
    font-size: 34px;
    text-align: center;
    color: #767e85;
    font-weight: bolder; }

.input {
  background-color: #ee9434;
  border-radius: 5%;
  width: 16%;
  position: fixed;
  padding: 10px 5px;
  left: 39.5em; }
  .input #num_one {
    border: 2px solid black;
    border-radius: 5%;
    width: 12em;
    height: 2em;
    font-size: 18px; }
  .input #num_two {
    border: 2px solid black;
    border-radius: 5%;
    width: 12em;
    height: 2em;
    font-size: 18px; }
  .input #calculateBtn {
    background-color: #767e85;
    font-family: Arial;
    color: #DEE6CB;
    padding-top: 7px;
    font-size: 15px;
    border-radius: 10%; }

.answer {
  position: relative;
  left: 35em;
  top: 10em;
  font-family: Arial;
  font-size: 18px;
  color: #767e85;
  padding-right: 5px;
  font-weight: bold; }
